<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      footer {
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #ee7e63;
        position: fixed;
        height: 50px;
        color: #f9f9f9;
        text-align: center;
        padding-top: 20px;
      }
    </style>
  </head>
  <body>
    <footer>Mbote Joseph @ 2023</footer>
  </body>
</html>
