<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      nav {
        top: 0;
        left: 0;
        width: 100%;
        background-color: #ee7e63;
        position: fixed;
        height: 50px;
        color: #f9f9f9;
        text-align: center;
        padding-top: 20px;
        display: flex;
        justify-content: space-between;
      }
      li {
        margin-right: 30px;
        font-size: 20px;
      }
      li::marker {
        color: #ee7e63;
      }
      ul {
        display: flex;
        justify-content: space-between;
      }
      a {
        text-decoration: none;
        color: #f9f9f9;
      }
    </style>
  </head>
  <body>
    <nav>
      <div>Node JS</div>
      <ul>
        <li><a href="/">Home Page</a></li>
        <li><a href="/about">About Page</a></li>
        <li><a href="/blog/create">Create Blog</a></li>
      </ul>
    </nav>
  </body>
</html>
