<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>About</h1>

    <div>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi facere
        voluptatum minima, fugit deleniti molestias debitis nostrum in
        recusandae fugiat inventore nesciunt sint? Deleniti facere consectetur
        velit dolor eius fugit.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi facere
        voluptatum minima, fugit deleniti molestias debitis nostrum in
        recusandae fugiat inventore nesciunt sint? Deleniti facere consectetur
        velit dolor eius fugit.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi facere
        voluptatum minima, fugit deleniti molestias debitis nostrum in
        recusandae fugiat inventore nesciunt sint? Deleniti facere consectetur
        velit dolor eius fugit.
      </p>
    </div>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
