<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1>Blog Page</h1>

    <!-- <% const name="Joseph Mbote" %> -->

    <h2>Create Blog</h2>
    <!-- <p><%= name %></p> -->
    <form action="">
      <label for="title">Blog title</label>
      <br />
      <input type="text" name="title" placeholder="Enter title" />
      <br />
      <br />
      <label for="snippet">Blog title</label>
      <br />
      <input type="text" name="snippet" placeholder="Enter Snippet" />

      <br /><br />
      <input type="submit" />
    </form>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
